body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f1ee;
}

nav {
  background: #5a3e2b;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button {
  background: #d4a373;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(#6f4e37, #3e2723);
  color: white;
}

.btn-utama {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  background: #d4a373;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
}

.produk {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 50px;
  flex-wrap: wrap;
}

.card {
  background: white;
  width: 220px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

.card button {
  background: #6f4e37;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

footer {
  background: #ddd;
  text-align: center;
  padding: 15px;
}