body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f1ee;
}

header {
  background: #6f4e37;
  color: white;
  text-align: center;
  padding: 30px;
}

.checkout {
  display: flex;
  justify-content: center;
  padding: 40px;
}

form {
  background: white;
  padding: 25px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input, select, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea {
  resize: none;
  height: 60px;
}

button {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background: #6f4e37;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #543628;
}

footer {
  text-align: center;
  padding: 20px;
}

.kembali {
  width: auto;
  padding: 8px 15px;
  background: #d4a373;
  margin-bottom: 10px;
}

